/**Start Nav Styles**/

.main-nav {
    background: #1a5280;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 65px;
    z-index: 1;
}

.logo {
    height: 50px;
    margin-left: 20px;
}

.nav-list {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.nav-item {
    float: left;
    margin-right: 20px;
}

.nav-link {
    color: #c2daed;
    text-decoration: none;
    font-family: sans-serif;
}

.nav-link:hover {
    color: #000000;
    text-decoration: underline;
    text-shadow: 2px, 3px, #fff0000;
    font-size: 115%;
    font-family: cursive;
}

/**End Nav Styles**/

/**Start Hero Styles**/

.hero-background {
    background-image: url(../images/IMG_1778.JPG);
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin-top: 50px;
}

.hero-text {
    text-align: center;
    margin-top:0px;
    padding-top:185px;
    color: #ffffff;
    font-family: serif;
    font-size: 30px;
}

.text-background {
    background-color: rgba(0, 0, 0, .5)
}
/**End Hero Styles**/



/**Start Column Styles**/
.column-container {
    padding: 10px;
}

.column-container:after {
    content: "";
    display: block;
    clear: both;
}

.column {
    width: 45%;
    height: 550px;
    text-align: center;
    float: left;
    margin-left: 2%;
}

.column-image {
    width: 55%;
    height: 300px;
}


/**End Column Styles**/

/**Start Picture Styles**/
.picture-container {
    padding: 15px;
    border-top: 2px solid #1a5280;
}

.picture-container:after {
    content: "";
    display: block;
    clear: both;
}

.picture {
    width: 22.5%;
    height: 200px;
    border: 1px solid #000000;
    text-align: center;
    float: left;
    margin-left: 2%;
}

.picture-image {
    width: 100%;
    height: 200px;
}
/**End Picture Styles**/



/**Start Footer Styles**/

.main-footer {
    height: 150px;
    border-top: 3px solid #000000;
}

.main-footer:after {
    content:"";
    display: block;
    clear: both;
}

.footer-section {
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
    color: #c2daed;
    font-family: sans-serif;
    padding: 15px 0px;
    background-color: #1a5280;
}

.section {
    height: 50px;
    width: 150px;
    margin: 0 auto;
}

.section:after {
    content:"";
    display: block;
    clear: both;
}

.social {
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 18px;
}

.social a .fa {
    color: white;
}

.center {
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
}


/**End Footer Styles**/